@model IEnumerable<LoveOfLeatherShop.Models.KeyChain>

@{
    ViewBag.Title = "Index";
}

<h2>ADMIN</h2>
<!-- Makes Tabel on Back end page-->
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engraved)
        </th>
        <th></th>
    </tr>

    <!--Loops through items in data base & Displays on Admin page-->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engraved)
            </td>
            <!--Create links to edit, see details of individual keychain object, delete keychain object-->
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
